<div class="container">
	<h2>Novels available</h2>

<table border="1" class="table">
<tr>
	<th>Novel title</th>
	<th>Author</th>
	<th>Publisher</th>
	<th>Genre</th>
	<th>Price</th>
	<th>ISBN</th>
	<th>Publication</th>
	<th>Pages</th>
	<th>Format</th>
	<th>Description</th>
	<th>Details</th>
	<th>Edit</th>
	<th>Delete</th>
</tr>

<% @novel.each do |novel| %>
<tr>
<td><%= novel.title %></td>
<td><%= novel.author_id %></td>
<td><%= novel.publisher_id %></td>
<td><%= novel.genre_id %></td>
<td><%= novel.price %></td>
<td><%= novel.isbn %></td>
<td><%= novel.publication %></td>
<td><%= novel.pages %></td>
<td><%= novel.format %></td>
<td><%= novel.description %></td>
<td><%= link_to 'Novel page', novel_path(novel) %> </td>
<td><%= link_to 'Edit', edit_novel_path(novel) %></td>
<td><%= link_to 'Delete', novel_path(novel),
				method: :Delete,
				data: {confirm: "Are you sure want to delete this?"} %></td>
</tr>

<% end %>
</table>
</div>
