<div class="container">

<h3>Novel details</h3>

<p> Title <%= @novel.title %></p>
<p> Author <%= @novel.author_id %></p>
<p> Publisher <%= @novel.publisher_id %></p>
<p> Genre <%= @novel.genre_id %></p>
<p> Price <%= @novel.price %></p>
<p> ISBN <%= @novel.isbn %></p>
<p> Publication <%= @novel.publication %></p>
<p> Pages <%= @novel.pages %></p>
<p> Format <%= @novel.format %></p>
<p> Description <%= @novel.description %></p>

</div>
