<div class="container">

<%= form_tag search_publishers_path, method: :get do %>

<%= text_field_tag :term, nil, placeholder: 'Search', class:'form-control' %>

<%= submit_tag "Search", class:'btn btn-default' %>

<% end %>


<h2>All publishers</h2>
<table border="1" class="table">
<tr>
	<th>Name</th>
	<th>Country</th>
</tr>

<% @publisher.each do |publisher| %>
<tr>
<td><%= publisher.name %></td>
<td><%= publisher.country %></td>
<td><%= link_to 'Publisher page', publisher_path(publisher) %></td>
</tr>
<% end %>
</table>
</div>